form {
    text-align: center;
}

table {
    margin: auto;
    background-color: white;
}

th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--link-hover-bg); /* Changer la couleur de fond en fonction du mode */
    color: white;
}

table, td, th {

    border: 1px solid black;
    font-size: 30px;
}

td {
    background: var(--p-bg);
}

select {
}