table, tr, th, td {
    border: 1px solid var(--link-hover-bg); /* Utilisation de la variable pour les bordures */
}

table {
    border: 1px solid var(--link-hover-bg); /* Bordure adaptative en fonction du mode */
    border-spacing: 0;
    border-radius: 5px;
    margin: auto;
}

th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--link-hover-bg); /* Changer la couleur de fond en fonction du mode */
    color: var(--th-text-color); /* Changer la couleur du texte en fonction du mode */
}

td {
    background: var(--p-bg); /* Changer la couleur de fond en fonction du mode */
}

#button {
    border-radius: 5px;
    text-align: center;
}

tr:last-child td {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

th, td {
    padding: 0.2em;
    font-size: 2em;
}

input[type="text"] {
    width: 20em;
    font-size: 0.6em;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding-right: 40px; /* Laisse de l'espace pour le bouton */
    box-sizing: border-box;
}

.input-container button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
}
