* * {
    /*border:1px solid black;*/
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.research{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 50%;
    font-size: 30px;
    background-color: var(--p-bg);
    padding-bottom: 0.5em;
    box-shadow: 5px 5px 7.5px var(--p-shadow);
    color: var(--text-color);
}

.research > h6 {
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 15px;
}

#stages {
    border: var(--text-color) solid 1px;
    border-radius: 5px;
    padding: 3px;
    font-size: 20px;
    overflow-y: auto;
    max-height: 5.8em;
    background-color: var(--p-bg);
    color: var(--text-color);
}

#stages input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

#stages label {
    display: block;
}

#stages label:has(:checked) {
    background-color: #9a0000;
    color: white;
}

.hotels {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}

.hotels label {
    border-radius: 5px;
    border: var(--text-color) solid 1px;
    text-align: center;
    margin: 0.5em;
    background-color: var(--p-bg);
    color: var(--text-color);
}

.hotels label:has(:checked) {
    background-color: #950065;
    color: white;
    border: none;
}

.hotels input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.titres {
    margin-bottom: 0.25em;
    color: var(--text-color);
}

.result,#tri{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 7.5px var(--p-shadow);
    background-color: var(--p-bg);
    padding: 0.5em;
    text-align: center;
    margin: 0.8em;
    color: var(--text-color);
}

#result{

}

#tri{

    display: flex;
    flex-direction: row;
    gap: 10px; /* espace entre les champs */
    align-items: center; /* alignement vertical si besoin */


}