body {
    background-color: #F0ebd7;
}
header{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    padding: 1%;
    background: linear-gradient(135deg, #9a0000 30%, 50%, #f7c041 70%);
}
.entete{
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}
header *{
}
header h1{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    text-align: center;
    font-size: 50px;

}

#logo{
    grid-column: 1;
    grid-row: 1;
    height: auto;
    flex:1;
    align-self: center;

}
header img{
    width: 33%;
}
#temp{
    display:flex;
    justify-content: space-between;
}

.inscrico{
    font-size: 30px;
    width: fit-content;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
header div a{
    border: solid 1px white;
    border-radius:5px;
    text-decoration: none;
    padding-left:5px;
    padding-right:5px;
    background-color: #FFFCF0;
    color:black
}

nav{

    padding-top: 1%;
    border-top: double 1px black;
    display: flex;
    justify-content: space-evenly;


}
nav a{

    border-radius: 5px;
    background-color: #FFFCF0;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.contenu{

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-basis: 0;

}
.descript{
    display: flex;
    flex-direction: initial;
    width: auto;

}
.descript div{;
    display: flex;
    flex:50;
}
.descript img{
    border-radius:10px;
    width:80%;
}
.descript p{
    box-shadow: -10px -10px 5px red;
    background-color: blue;
    display: flex;
    flex:30;
}
